*
{
	margin: 0;
	padding: 0;
}

*:focus
{
	outline: 0;
}

a img
{
	border: 0;
}

a
{
	text-decoration: none;
	color: #7089C4;
	cursor: pointer;
}

a:hover
{
	color: #A1B5E6;
}

.center
{
	text-align: center;
}

.strong
{
	font-weight: bold;
}

body
{
	background-image: url(http://static.fundraisingquizzes.net/images/background.png);
	font: 10pt 'Noto Sans', sans-serif;
	text-align: center;
}

#container
{
	margin: 20px auto;
	width: 1240px;
}

#header
{
	position: relative;
}

#account-status
{
	position: absolute;
	top: 10px;
	right: 15px;
	padding-left: 22px;
	background: url(http://static.fundraisingquizzes.net/images/user_16.png) no-repeat 0 6px;
}

#account-status input
{
	margin: 0 2px 4px 0;
}

#account-status-error
{
	display: none;
}

#account-recover-link, #account-status-error
{
	margin-left: 10px;
}

.module
{
	text-align: left;
	border: 1px solid #999999;
	border-radius: 10px;
	background: white;
	margin: 10px 0;
}

.module-padded
{
	padding: 15px 20px;
}

#logo
{
	margin: 20px;
}

#navigation
{
	list-style: none;
	position: absolute;
	bottom: 10px;
	right: 15px;
	height: 16px;
}

#navigation li
{
	display: inline;
	margin: 0 10px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 0 1px;
}

#navigation-home
{
	background-image: url(http://static.fundraisingquizzes.net/images/home_16.png);
}

#navigation-quizzes
{
	background-image: url(http://static.fundraisingquizzes.net/images/document_16.png);
}

#navigation-answers
{
	background-image: url(http://static.fundraisingquizzes.net/images/document_pencil_16.png);
}

#navigation-forum
{
	background-image: url(http://static.fundraisingquizzes.net/images/bubble_16.png);
}

#navigation-links
{
	background-image: url(http://static.fundraisingquizzes.net/images/globe_16.png);
}

#navigation-settings
{
	background-image: url(http://static.fundraisingquizzes.net/images/gear_16.png);
}

#navigation-admin
{
	background-image: url(http://static.fundraisingquizzes.net/images/key_16.png);
}

#navigation a, #navigation a:hover
{
	color: black;
}

.float-block
{
	clear: both;
}

#copyright
{
	float: left;
}

#author
{
	float: right;
}

/** Forms **/
.input-text
{
	padding: 4px;
	border: 1px solid #999;
	background: white;
}

.input-button
{
	padding: 5px 16px;
	cursor: pointer;
	border: 1px solid #999;
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}

.input-button:hover, .input-text:focus
{
	border: 1px solid #000;
}

.input-error
{
	border: 1px solid red;
}

.form-error
{
	color: #C40000;
}

.form-success
{
	color: #17C400;
}

.form-pending
{
	color: #C48600;
}

.form-table th
{
	text-align: right;
	padding-right: 5px;
}

.form-table .footer
{
	text-align: center;
	padding-top: 10px;
}

.error
{
	border: 1px solid red;
}
.break
{
	margin-top: 10px;
}

/** Temp **/
#maintenance
{
	padding: 7px 0 0 50px;
	height: 42px;
	background: url(http://static.fundraisingquizzes.net/images/info_32.png) no-repeat center left;
}