*
{
	margin: 0;
	padding: 0;
}

*:focus
{
	outline: 0;
}

a img
{
	border: 0;
}

.center
{
	text-align: center;
}

body
{
	background-image: url('http://static.fundraisingquizzes.net/images/background.png');
	font: 10pt 'Noto Sans', sans-serif;
	text-align: center;
}

#container
{
	margin: 20px auto;
	width: 1240px;
}

.module
{
	text-align: left;
	border: 1px solid #999999;
	border-radius: 10px;
	background: white;
	margin: 10px 0;
}

.module-padded
{
	padding: 15px 20px;
}

#logo
{
	margin: 20px;
}

.float-block
{
	clear: both;
}

#copyright
{
	float: left;
}

#author
{
	float: right;
}