*
{
	margin: 0;
	padding: 0;
}

*:focus
{
	outline: 0;
}

a img
{
	border: 0;
}

a
{
	text-decoration: none;
	color: #7089C4;
	cursor: pointer;
}

a:hover
{
	color: #A1B5E6;
}

.center
{
	text-align: center;
}

.strong
{
	font-weight: bold;
}

body
{
	background-image: url(http://static.fundraisingquizzes.net/images/background.png);
	font: 10pt 'Noto Sans', sans-serif;
	text-align: center;
}

#container
{
	margin: 20px auto;
	width: 1240px;
}

#header
{
	position: relative;
}

#account-status
{
	position: absolute;
	top: 10px;
	right: 15px;
	padding-left: 22px;
	background: url(http://static.fundraisingquizzes.net/images/user_16.png) no-repeat 0 6px;
}

#account-status input
{
	margin: 0 2px 4px 0;
}

#account-status-error
{
	display: none;
}

#account-recover-link, #account-status-error
{
	margin-left: 10px;
}

.module
{
	text-align: left;
	border: 1px solid #999999;
	border-radius: 10px;
	background: white;
	margin: 10px 0;
}

.module-padded
{
	padding: 15px 20px;
}

#logo
{
	margin: 20px;
}

#navigation
{
	list-style: none;
	position: absolute;
	bottom: 10px;
	right: 15px;
	height: 16px;
}

#navigation li
{
	display: inline;
	margin: 0 10px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 0 1px;
}

#navigation-home
{
	background-image: url(http://static.fundraisingquizzes.net/images/home_16.png);
}

#navigation-quizzes
{
	background-image: url(http://static.fundraisingquizzes.net/images/document_16.png);
}

#navigation-answers
{
	background-image: url(http://static.fundraisingquizzes.net/images/document_pencil_16.png);
}

#navigation-forum
{
	background-image: url(http://static.fundraisingquizzes.net/images/bubble_16.png);
}

#navigation-links
{
	background-image: url(http://static.fundraisingquizzes.net/images/globe_16.png);
}

#navigation-settings
{
	background-image: url(http://static.fundraisingquizzes.net/images/gear_16.png);
}

#navigation-admin
{
	background-image: url(http://static.fundraisingquizzes.net/images/key_16.png);
}

#navigation a, #navigation a:hover
{
	color: black;
}

.float-block
{
	clear: both;
}

#copyright
{
	float: left;
}

#author
{
	float: right;
}

/** Forms **/
.input-button, .input-text
{
	padding: 4px;
	border: 1px solid #999;
	background: white;
}

.input-button
{
	padding: 4px 8px;
	cursor: pointer;
}

.input-button:hover, .input-text:focus
{
	border: 1px solid #000;
}

.input-error
{
	border: 1px solid red;
}

.form-error
{
	color: #C40000;
}

.form-success
{
	color: #17C400;
}

.form-pending
{
	color: #C48600;
}

.error
{
	border: 1px solid red;
}

/** Temp **/
#maintenance
{
	padding: 7px 0 0 50px;
	height: 25px;
	background: url(http://static.fundraisingquizzes.net/images/info_32.png) no-repeat center left;
}