@import url("navigation.css");
@import url("forms.css");
@import url("tooltip.css");
@import url("admin.css");

*
{
	margin: 0;
	padding: 0;
}

*:focus
{
	outline: 0;
}

body
{
	text-align: center;
	background: url('http://static.fundraisingquizzes.net/images/background.png');
	font: 10pt 'Noto Sans', sans-serif;
}

a img
{
	border: 0;
}

a
{
	text-decoration: none;
	color: #7089C4;
	cursor: pointer;
}

a:hover
{
	color: #A1B5E6;
}

p
{
	padding: 5px 0;
}

.float-padding
{
	clear: both;
}

#container
{
	margin: 20px auto;
	width: 1240px;
}

.module, .module-left, .module-right
{
	text-align: left;
	border: 1px solid #999999;
	border-radius: 10px;
	background: white;
	margin: 10px 0;
}

.module-left, .module-right
{
	width: 46%;
	margin: 0;
	height: 100%;
}

.module-left
{
	float: left;
}

.module-right
{
	float: right;
}

.module-padded
{
	padding: 15px 20px;
}

#header
{
	position: relative;
	height: 65px;
}

#logo
{
	position: absolute;
	top: 15px;
	left: 20px;
}

#login-status-container
{
	position: absolute;
	right: 20px;
	top: 15px;
	text-align: right;
	width: 30%;
}

#login-status
{
	background: url('http://static.fundraisingquizzes.net/images/user_16.png') no-repeat left 1px;
	padding-left: 25px;
}

#copyright
{
	float: left;
	width: 30%;
}

#author
{
	float: right;
	width: 30%;
	text-align: right;
}

.center-align
{
	text-align: center;
}

.bold-text
{
	font-weight: bold;
}

h1
{
	font-size: 1.8em;
}

.error, .pending, .success
{
	margin: 10px 0;
	padding: 8px 5px;
}

.error
{
	background-color: #EDC2C2;
	border: 2px solid #E09F9F;
}

.pending
{
	background-color: #EDEDC2;
	border: 2px solid #D7DB51;
}

.success
{
	background-color: #C2EDCD;
	border: 2px solid #A7E09F;
}

.loading-notice
{
	margin: 0 auto;
}

.loading-notice td
{
	font-weight: bold;
	font-size: 1.3em;
	padding-left: 10px;
	text-align: left;
}

/* Homepage */
#homepage-weekly-quiz
{
	width: 50%;
	padding-left: 60px;
	background: url('http://static.fundraisingquizzes.net/images/document_48.png') no-repeat left center;
}

#homepage-trivia
{
	width: 50%;
	text-align: right;
	padding-right: 60px;
	background: url('http://static.fundraisingquizzes.net/images/pencil_48.png') no-repeat right center;
}

#homepage-info-banner
{
	height: 52px;
	width: 100%;
}

#homepage-info-banner-module
{
	padding: 10px;
}

.homepage-flag-table
{
	margin: 5px auto;
}

/* Login Page */

#login-layout-left, #login-layout-right
{
	text-align: center;
	width: 35%;
	margin: 20px 0;
}

#login-layout-right
{
	float: right;
	margin-right: 50px;
}

#login-layout-left
{
	float: left;
	margin-left: 50px;
}

#login-table, #register-table
{
	margin: 10px auto;
}

#login-status-message, #register-status-message
{
	display: none;
}

/* Error Pages */
.error-frame
{
	margin: 0 auto;
}

.error-frame td
{
	width: 500px;
	text-align: left;
	padding-left: 20px;
}

/* Quizzes page */
#bookmarked-quizzes-list .module
{
	background-color: #DBDBDB;
}

.quiz-list-quiz
{
	position: relative;
}

.quiz-flags, .quiz-options
{
	position: absolute;
	top: 10px;
}

.quiz-flags
{
	left: 15px;
}

.quiz-options
{
	right: 15px;
}

.quiz-options div, .quiz-flags div
{
	display: block;
	width: 19px;
	height: 19px;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-position: center;
}

.quiz-options div
{
	cursor: pointer;
}

.quiz-flag-new
{
	background-image: url('http://static.fundraisingquizzes.net/images/flag_red_16.png');
}

.quiz-flag-updated
{
	background-image: url('http://static.fundraisingquizzes.net/images/flag_blue_16.png');
}

.quiz-option-bookmark
{
	background-image: url('http://static.fundraisingquizzes.net/images/bookmark_16.png');
}

.quiz-option-bookmark-disabled
{
	background-image: url('http://static.fundraisingquizzes.net/images/bookmark_16_grey.png');
}

.quiz-option-vote
{
	background-image: url('http://static.fundraisingquizzes.net/images/statistics_16.png');
}

.quiz-option-voted
{
	background-image: url('http://static.fundraisingquizzes.net/images/tick_16.png');
}

.quiz-option-vote-disabled
{
	background-image: url('http://static.fundraisingquizzes.net/images/statistics_16_grey.png');
}

#road-map
{
	list-style: none;
	margin: 10px 10px;
}

#road-map li
{
	padding: 3px 0 3px 20px;
	background-repeat: no-repeat;
	background-position: left center;
	font-weight: bold;
}

.road-map-done
{
	background-image: url('http://static.fundraisingquizzes.net/images/tick_16.png');
}

.road-map-progress
{
	background-image: url('http://static.fundraisingquizzes.net/images/gear_16.png');
}

.road-map-planned
{
	background-image: url('http://static.fundraisingquizzes.net/images/clock_16.png');
}