#weekly-quiz, #weekly-trivia
{
	height: 42px;
	padding-top: 6px;
}

#weekly-quiz
{
	float: left;
	padding-left: 60px;
	background: url(https://static.fundraisingquizzes.net/images/star_48.png) no-repeat center left;
}

#weekly-trivia
{
	float: right;
	text-align: right;
	padding-right: 60px;
	background: url(https://static.fundraisingquizzes.net/images/calender_48.png) no-repeat center right;
}

#weekly-trivia p
{
	font-size: 1.5em;
	padding-top: 4px;
}

#checklist-container
{
	width: 100%;
}

#checklist
{
	font-size: 1.5em;
	font-weight: bold;
	list-style: none;
	margin: 20px auto;
	width: 600px;
}

#checklist li
{
	background: url(https://static.fundraisingquizzes.net/images/tick_32.png) no-repeat;
	padding: 3px 0 0 40px;
	margin: 10px 0;
	height: 29px;
}