#navigation
{
	list-style: none;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 10px;
}

#navigation a
{
	display: inline;
	margin: 0 30px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: left 1px;
	color: black;
}

#navigation a:hover
{
	color: black;
}

#navigation-home
{
	background-image: url('http://static.fundraisingquizzes.net/images/home_16.png');
}

#navigation-links
{
	background-image: url('http://static.fundraisingquizzes.net/images/globe_16.png');
}

#navigation-quizzes
{
	background-image: url('http://static.fundraisingquizzes.net/images/document_16.png');
}

#navigation-answers
{
	background-image: url('http://static.fundraisingquizzes.net/images/clipboard_16.png');
}

#navigation-settings
{
	background-image: url('http://static.fundraisingquizzes.net/images/gear_16.png');
}

#navigation-forum
{
	background-image: url('http://static.fundraisingquizzes.net/images/bubble_16.png');
}

#navigation-admin
{
	background-image: url('http://static.fundraisingquizzes.net/images/shield_16.png');
}