.quiz-listing input, .quiz-listing select
{
	padding: 2px;
	margin: 2px;
	font-family: 'Noto Sans', sans-serif;
	border: 1px solid #999;
}

.quiz-listing .error
{
	border: 1px solid red;
}

.quiz-title, .quiz-title input
{
	font-weight: bold;
	font-size: 20px;
}

.quiz-title input
{
	width: 500px;
}

.unapproved .quiz-title
{
	color: #DB7423;
}

.quiz-closing
{
	font-size: 1.3em;
	font-weight: bold;
}

.quiz-extra
{
	display: none;
	margin-top: 10px;
}

.quiz-extra input
{
	width: 700px;
}

.quiz-listing
{
	cursor: pointer;
	position: relative;
}

.editing
{
	cursor: default;
}

.quiz-arrow
{
	position: absolute;
	top: 20px;
	right: 20px;
	background: url(http://static.fundraisingquizzes.net/images/quiz_arrow.png) no-repeat;
	height: 39px;
	width: 44px;
}

.quiz-arrow-flip
{
	background-position: 0 -39px;
}

.quiz-vote
{
	position: absolute;
	top: 15px;
	right: 75px;
	background: url(http://static.fundraisingquizzes.net/images/star_48.png) no-repeat;
	height: 48px;
	width: 48px;
	display: none;
}

.quiz-options
{
	position: absolute;
	bottom: 10px;
	right: 20px;
	display: none;
}

.quiz-options ul
{
	list-style: none;
}

.quiz-options li
{
	display: inline;
	margin: 0 10px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 0 1px;
	cursor: pointer;
}

.quiz-option-bookmark
{
	background-image: url(http://static.fundraisingquizzes.net/images/bookmark_16.png);
}

.quiz-option-vote
{
	background-image: url(http://static.fundraisingquizzes.net/images/star_16.png);
}

.quiz-option-edit
{
	background-image: url(http://static.fundraisingquizzes.net/images/pencil_16.png);
}

.quiz-option-save, .quiz-option-approve, .quiz-option-confirm
{
	background-image: url(http://static.fundraisingquizzes.net/images/tick_16.png);
}

.quiz-option-cancel, .quiz-option-nodelete
{
	background-image: url(http://static.fundraisingquizzes.net/images/delete_16.png);
}

.quiz-option-delete
{
	background-image: url(http://static.fundraisingquizzes.net/images/trash_16.png);
}

.flag
{
	font-weight: bold;
	display: inline;
	margin-left: 20px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: left;
}

.flag_new
{
	background-image: url(http://static.fundraisingquizzes.net/images/new_16.png);
}

.flag_updated
{
	background-image: url(http://static.fundraisingquizzes.net/images/updated_16.png);
}

#submit-button
{
	background: white url(http://static.fundraisingquizzes.net/images/plus_32.png) no-repeat 20px;
	font-size: 20px;
	padding-left: 65px;
	cursor: pointer;
	display: none;
}

#submit-button.quiz-submitted
{
	background-color: #D0F3C2;
	background-image: url(http://static.fundraisingquizzes.net/images/tick_32.png);
}

#quiz-submit
{
	display: none;
}

.visible
{
	display: block;
}