.quiz-entry {
	display: flex;
	gap: 10px;
}

.quiz-icon {
	width: 60px;
	height: 60px;
	min-width: 60px;
	background-image: url('/{{cache_bust=static/images/quiz_type_icons.png}}');
}

.quiz-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 5px;
}

.quiz-sub {
	font-style: italic;
	display: flex;
	align-items: center;
}

.quiz-sub > p:not(:last-child)::after {
	content: "•";
	font-size: 1.2em;
	margin: 0 10px;
	font-weight: bold;
}

.quiz-entry h1 {
	font-size: 1.5em;
}

.quiz-options {
	display: flex;
	gap: 20px;
}

.quiz-options > a {
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: center left;
}

.quiz-option-bookmark {
	background-image: url('/{{cache_bust=static/images/bookmark_16.png}}');
}

.quiz-option-vote {
	background-image: url('/{{cache_bust=static/images/megaphone_16.png}}');
}

.quiz-option-queries {
	background-image: url('/{{cache_bust=static/images/bubble_16.png}}');
}

.quiz-option-edit {
	background-image: url('/{{cache_bust=static/images/pencil_16.png}}');
}

.quiz-option-delete {
	background-image: url('/{{cache_bust=static/images/delete_16.png}}');
}

.quiz-option-approve {
	background-image: url('/{{cache_bust=static/images/tick_16.png}}');
}

.quiz-type-0 { background-position: -240px -60px; }
.quiz-type-1 { background-position: -60px 0; }
.quiz-type-2 { background-position: -120px 0; }
.quiz-type-3 { background-position: -180px 0; }
.quiz-type-4 { background-position: -240px 0; }
.quiz-type-5 { background-position: 0 -60px; }
.quiz-type-6 { background-position: -60px -60px; }
.quiz-type-7 { background-position: -120px -60px; }
.quiz-type-8 { background-position: -300px -60px; }
.quiz-type-9 { background-position: 0 -120px; }
.quiz-type-10 { background-position: -180px -60px; }

.quiz-flag {
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 20px;
	font-weight: bold;
}

.quiz-flag-new {
	background-image: url('/{{cache_bust=static/images/new_16.png}}');
}

.quiz-flag-updated {
	background-image: url('/{{cache_bust=static/images/updated_16.png}}');
}

.quiz-flag-queries {
	background-image: url('/{{cache_bust=static/images/query_flag_16.png}}');
}

.quiz-bookmarked {
	border-color: #ffa500;
	background-color: #fff6e6;
}

@media (max-width: 880px) {
	.quiz-info {
		gap: 10px;
	}

	.quiz-options {
		gap: 5px;
		flex-direction: column;
	}
}