#recovery-left
{
	float: left;
	width: 50%;
}

#recovery-right
{
	float: right;
	width: 42%;
}

#recovery-left, #recovery-right
{
	margin: 0;
	min-height: 280px;
}

#recovery-right h1
{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

#recovery-left h1
{
	padding-top: 12px;
	margin: 0 0 30px 80px;
}

#recovery-left p
{
	font-size: 1.4em;
}

.recovery-icon
{
	height: 64px;
	width: 64px;
	float: left;
	background-repeat: no-repeat;
}

.recovery-icon-default
{
	background-image: url(http://static.fundraisingquizzes.net/images/help_64.png);
}

.recovery-icon-password
{
	background-image: url(http://static.fundraisingquizzes.net/images/key2_64.png);
}

.recovery-icon-username
{
	background-image: url(http://static.fundraisingquizzes.net/images/user_info_64_center.png);
}

.recovery-icon-both
{
	background-image: url(http://static.fundraisingquizzes.net/images/lock_64.png);
}

.recovery-icon-email
{
	background-image: url(http://static.fundraisingquizzes.net/images/letter_64.png);
}

#recovery-footer
{
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

#recovery-footer img
{
	margin: 0 10px;
}

#recover-options
{
	list-style: none;
	margin-top: 20px;
}

#recover-options li
{
	font-size: 1.2em;
	margin: 10px 0;
}

#slides
{
	display: none;
}

.register-link, .recovery-box
{
	margin-top: 30px;
}

.recovery-box
{
	text-align: center;
}

.error
{
	border: 1px solid red;
}

.error-text
{
	margin-top: 10px;
}