.register-container
{
	display: flex;
	gap: 10px;
}

#register-left
{
	flex: 1;
}

#register-right
{
	flex: 1;
}

#register-left, #register-right
{
	margin: 0;
	min-height: 280px;
}

#register-left h1
{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

#register-table
{
	width: 100%;
	margin: 20px 0 10px 0;
}

#feature-list
{
	list-style: none;
}

#feature-list li
{
	height: 64px;
	background-repeat: no-repeat;
	background-position: left;
	padding: 25px 0 0 80px;
	font-size: 1.2em;
	font-weight: bold;
}

.feature-quizzes
{
	background-image: url('/{{cache_bust=static/images/document_pencil_64.png}}');
}

.feature-forum
{
	background-image: url('/{{cache_bust=static/images/user2_64.png}}');
}

.feature-answers
{
	background-image: url('/{{cache_bust=static/images/stop_64.png}}');
}

@media (max-width: 950px)
{
	.register-container
	{
		flex-direction: column;
	}
}