.register-container
{
	display: flex;
	gap: 10px;
}

#register-left
{
	flex: 1;
}

#register-right
{
	flex: 1;
}

#register-left, #register-right
{
	margin: 0;
	min-height: 280px;
}

#register-left h1, #register-right h1
{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

#register-table
{
	width: 100%;
	margin: 20px 0 10px 0;
}

@media (max-width: 950px)
{
	.register-container
	{
		flex-direction: column;
	}
}