#settings-page
{
	position: relative;
}

#options
{
	position: absolute;
	bottom: 0;
	top: 0;
	margin: 0;
	width: 187px;
}

#options ul
{
	list-style: none;
	margin-top: 10px;
}

#options li
{
	font-weight: bold;
	padding: 10px 0 10px 40px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 15px;
}

#options li:hover
{
	background-color: #CBCBDB;
}

#options li.active
{
	background-color: #ADCF9C;
}

#option-info
{
	background-image: url(http://static.fundraisingquizzes.net/images/licence_16.png);
}

#option-avatar
{
	background-image: url(http://static.fundraisingquizzes.net/images/user7_16.png);
}

#option-graveyard
{
	background-image: url(http://static.fundraisingquizzes.net/images/reload_16.png);
}

#option-broadcast
{
	background-image: url(http://static.fundraisingquizzes.net/images/megaphone_16.png);
}

#option-facts
{
	background-image: url(http://static.fundraisingquizzes.net/images/info_16.png);
}

#option-members
{
	background-image: url(http://static.fundraisingquizzes.net/images/user2_16.png);
}

.settings-panel
{
	margin-left: 200px;
	display: none;
}

.settings-panel h1
{
	padding-left: 45px;
	background-repeat: no-repeat;
	background-position: left;
	margin-bottom: 10px;
}

.settings-panel h2
{
	margin: 20px 0 10px 0;
}

#panel-header-details
{
	background-image: url(http://static.fundraisingquizzes.net/images/licence_32.png);
}

#panel-header-avatar
{
	background-image: url(http://static.fundraisingquizzes.net/images/user7_32.png);
}

#panel-header-graveyard
{
	background-image: url(http://static.fundraisingquizzes.net/images/reload_32.png);
}

#panel-header-broadcast
{
	background-image: url(http://static.fundraisingquizzes.net/images/megaphone_32.png);
}

#panel-header-facts
{
	background-image: url(http://static.fundraisingquizzes.net/images/info_32.png);
}

#panel-header-members
{
	background-image: url(http://static.fundraisingquizzes.net/images/user2_32.png);
}

.field-hidden
{
	color: #9C9C9C;
}

#panel-graveyard p
{
	margin: 5px 0;
}

.error-field
{
	margin-bottom: 10px;
	display: none;
}

#avatar-selector
{
	margin: 20px;
}

#avatar-selector img
{
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	border: 1px solid white;
}

#avatar-selector img:hover
{
	border-color: #999;
}

#avatar-selector img.selecting
{
	border-color: orange;
}

#avatar-selector img.selected
{
	border-color: green;
}

#panel-broadcast p, .signature-tip
{
	margin-bottom: 10px;
}

#signature
{
	width: 500px;
}

#new-fact
{
	margin-top: 20px;
	width: 400px;
}

#member-list td
{
	padding: 3px;
}