#tooltip
{
	min-width: 9px;
	position: absolute;
	display: none;
	text-align: center;
}

#tooltip-label
{
	background: black;
	border-radius: 3px;
	padding: 4px 8px;
	color: white;
	font: 0.8em;
	display: block;
}