<div class="module module-padded">
	<p><b>Voting:</b> You can vote for three quizzes a week, the quiz with the highest vote at the end of each week becomes Quiz of the Week.</p>
	<p><b>Bookmarking:</b> Quizzes you bookmark will show up at the top of the list for you regardless of their closing date.</p>
</div>
<div v-if="!loaded" class="module module-padded">
	<div class="loader">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<template v-else>
	<div v-if="!is_submitting_quiz" id="quiz-submit-entry" class="module module-padded">
		<a @click="start_submit_quiz()">Want to add your own quiz to this list? Click here to submit one!</a>
	</div>
	<div v-else class="module module-padded quiz-entry quiz-entry-submitting">
		<div class="quiz-icon" :class="'quiz-type-' + new_quiz.type"></div>
		<div class="quiz-info">
			<h1>
				<input type="text" v-model="new_quiz.title" maxlength="100" :style="{ width: getInputWidth(new_quiz.title, 'Quiz title', 'quiz-entry-submitting') }" placeholder="Quiz title"/>
				 in aid of 
				<input type="text" v-model="new_quiz.charity" maxlength="100" :style="{ width: getInputWidth(new_quiz.charity, 'Charity name', 'quiz-entry-submitting') }" placeholder="Charity name"/>
			</h1>
			<div class="quiz-sub">
				<p>
					<select v-model="new_quiz.type">
						<option v-for="(type, index) in QUIZ_TYPES" :value="index">{{ type }}</option>
					</select>	
				</p>
				<p>
					<input type="text" 
						   v-model="new_quiz.closing_input"
						   placeholder="yyyy/mm/dd"/>
				</p>
				<p>
					<select :value="get_answer_policy(new_quiz)" @change="set_answer_policy(new_quiz, parseInt($event.target.value))">
						<option value="0">No answer policy</option>
						<option value="1">No asking allowed</option>
						<option value="2">No asking before closing</option>
					</select>
				</p>
			</div>
			<p>
				<textarea v-model="new_quiz.description" maxlength="1000" placeholder="Quiz description"></textarea>
			</p>
			<div class="quiz-options">
				<a class="quiz-option-approve" @click="submit_quiz()">[Submit Quiz]</a>
				<a class="quiz-option-delete" @click="cancel_submit_quiz()">[Cancel]</a>
			</div>
		</div>
	</div>
	<template v-for="quiz in quizzes_sorted">
		<div class="module module-padded quiz-entry" :class="{ 'quiz-bookmarked': quiz.is_bookmarked, 'quiz-pending-approval': (quiz.flags & QUIZ_FLAGS.IsAccepted) == 0, 'quiz-queries-visible': quiz.is_showing_queries }">
			<div class="quiz-icon" :class="'quiz-type-' + quiz.type"></div>
			<div class="quiz-info">
				<h1 v-if="quiz.is_editing">
					<input type="text" v-model="quiz.title" maxlength="100" :style="{ width: getInputWidth(quiz.title, quiz.title, 'quiz-entry') }"/>
					 in aid of 
					<input type="text" v-model="quiz.charity" maxlength="100" :style="{ width: getInputWidth(quiz.charity, quiz.charity, 'quiz-entry') }"/>
				</h1>
				<h1 v-else>{{ quiz.title }} in aid of {{ quiz.charity }}</h1>
				<div class="quiz-sub">
					<template v-if="quiz.is_editing">
						<p>
							<select v-model="quiz.type">
								<option v-for="(type, index) in QUIZ_TYPES" :value="index">{{ type }}</option>
							</select>	
						</p>
						<p>
							<input type="text" 
								   :value="date_to_input_format(quiz.closing)" 
								   @input="quiz.closing_input = $event.target.value"
								   placeholder="yyyy/mm/dd"/>
						</p>
						<p>
							<select :value="get_answer_policy(quiz)" @change="set_answer_policy(quiz, parseInt($event.target.value))">
								<option value="0">No answer policy</option>
								<option value="1">No asking allowed</option>
								<option value="2">No asking before closing</option>
							</select>
						</p>
					</template>
					<template v-else>
						<p>{{ QUIZ_TYPES[quiz.type] }}</p>
						<p v-if="quiz.submitter_username">Submitted by {{ quiz.submitter_username }}</p>
						<p>{{ is_quiz_closed(quiz) ? 'Closed' : 'Closes' }} {{ format_date_relative(quiz.closing) }} ({{ format_date(quiz.closing) }})</p>
						<p v-if="quiz.flags & QUIZ_FLAGS.AnswerPolicyNoAskingAllowed">No asking allowed</p>
						<p v-if="quiz.flags & QUIZ_FLAGS.AnswerPolicyNoAskingBefore">No asking before closing</p>
					</template>
					<p v-if="is_quiz_new(quiz)" class="quiz-flag quiz-flag-new">New!</p>
					<p v-if="is_quiz_updated(quiz)" class="quiz-flag quiz-flag-updated">Updated!</p>
					<p v-if="quiz.query_count > 0" class="quiz-flag quiz-flag-queries">Queries!</p>
				</div>
				<p v-if="quiz.is_editing">
					<textarea v-model="quiz.description" maxlength="1000"></textarea>
				</p>
				<p v-else v-html="create_hyperlinks(quiz.description)"></p>
				<div class="quiz-options">
					<template v-if="quiz.is_editing">
						<a class="quiz-option-approve" @click="save_quiz(quiz)">[Save Changes]</a>
						<a class="quiz-option-delete" @click="discard_changes(quiz)">[Discard Changes]</a>
					</template>
					<template v-else>
						<template v-if="is_logged_in">
							<a class="quiz-option-bookmark" @click="bookmark_quiz(quiz)">{{ quiz.is_bookmarked ? '[Remove Bookmark]' : '[Bookmark]' }}</a>
							<span class="quiz-option-vote" v-if="quiz.is_voted">You have voted for this quiz!</span>
							<a v-else-if="can_vote" class="quiz-option-vote" @click="vote_quiz(quiz)">[Vote]</a>
						</template>
						<a class="quiz-option-queries" @click="toggle_quiz_queries(quiz)">[{{ quiz.query_count }} {{ quiz.query_count > 1 ? 'Queries' : 'Query' }}]</a>
						<a v-if="is_admin && !quiz.is_editing" class="quiz-option-edit" @click="edit_quiz(quiz)">[Edit]</a>
						<a v-if="is_admin && (quiz.flags & QUIZ_FLAGS.IsAccepted) == 0" class="quiz-option-approve" @click="approve_quiz(quiz)">[Approve]</a>
						<a v-if="is_admin" class="quiz-option-delete" @click="delete_quiz(quiz)">[Delete]</a>
					</template>
				</div>
			</div>
		</div>
		<div v-if="quiz.is_showing_queries" class="module module-padded quiz-queries">
			<template v-if="quiz.query_count > 0">
				<template v-if="quiz.queries">
					<div v-for="query of quiz.queries" class="quiz-query">
						<div>
							<p class="quiz-query-header">Query by {{ query.query_username }}</p>
							<p class="quiz-query-text">{{ query.query_text }}</p>
							<div class="quiz-options">
								<a v-if="is_admin" class="quiz-option-delete" @click="delete_query(quiz, query)">[Delete Query]</a>
							</div>
						</div>
						<div v-if="query.answer_text">
							<p class="quiz-query-header">Answered by {{ query.answer_username }}</p>
							<p class="quiz-query-text">{{ query.answer_text }}</p>
							<div class="quiz-options">
								<a v-if="is_admin" class="quiz-option-delete" @click="delete_query_answer(query)">[Delete Answer]</a>
							</div>
						</div>
						<div v-else>
							<p>This query has not been answered yet. <a @click="add_query_answer(query)">Click here to answer it!</a></p>
						</div>
					</div>
					<p>Have another query not covered above? <a @click="add_query(quiz)">Click here to submit another!</a></p>
				</template>
				<div class="loader" v-else>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</template>
			<template v-else>
				<p>This quiz does not have any queries. <a @click="add_query(quiz)">Click here to submit one!</a></p>
			</template>
		</div>
	</template>
</template>