<div class="module module-padded">
	<p><b>Voting:</b> You can vote for three quizzes a week, the quiz with the highest vote at the end of each week becomes Quiz of the Week.</p>
	<p><b>Bookmarking:</b> Quizzes you bookmark will show up at the top of the list for you regardless of their closing date.</p>
</div>
<div v-if="!loaded" class="module module-padded">
	<div class="loader">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<div v-else v-for="quiz in quizzes_sorted" class="module module-padded quiz-entry" :class="{ 'quiz-bookmarked': quiz.is_bookmarked, 'quiz-pending-approval': (quiz.flags & QUIZ_FLAGS.IsAccepted) == 0 }">
	<div class="quiz-icon" :class="'quiz-type-' + quiz.type"></div>
	<div class="quiz-info">
		<h1>{{ quiz.title }} in aid of {{ quiz.charity }}</h1>
		<div class="quiz-sub">
			<p>{{ QUIZ_TYPES[quiz.type] }}</p>
			<p>{{ is_quiz_closed(quiz) ? 'Closed' : 'Closes' }} {{ format_date_relative(quiz.closing) }} ({{ format_date(quiz.closing) }})</p>
			<p v-if="quiz.flags & QUIZ_FLAGS.AnswerPolicyNoAskingAllowed">No asking allowed</p>
			<p v-if="quiz.flags & QUIZ_FLAGS.AnswerPolicyNoAskingBefore">No asking before closing</p>
			<p v-if="is_quiz_new(quiz)" class="quiz-flag quiz-flag-new">New!</p>
			<p v-if="is_quiz_updated(quiz)" class="quiz-flag quiz-flag-updated">Updated!</p>
		</div>
		<p v-html="create_hyperlinks(quiz.description)"></p>
		<div class="quiz-options">
			<template v-if="is_logged_in">
				<a class="quiz-option-bookmark" @click="bookmark_quiz(quiz)">{{ quiz.is_bookmarked ? '[Remove Bookmark]' : '[Bookmark]' }}</a>
				<span class="quiz-option-vote" v-if="quiz.is_voted">You have voted for this quiz!</span>
				<a v-else-if="can_vote" class="quiz-option-vote" @click="vote_quiz(quiz)">[Vote]</a>
			</template>
			<a class="quiz-option-queries">[Queries]</a>
			<a class="quiz-option-edit">[Edit]</a>
			<a v-if="is_admin && (quiz.flags & QUIZ_FLAGS.IsAccepted) == 0" class="quiz-option-approve" @click="approve_quiz(quiz)">[Approve]</a>
			<a v-if="is_admin" class="quiz-option-delete" @click="delete_quiz(quiz)">[Delete]</a>
		</div>
	</div>
</div>